<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
    <menuitem id="hmcoffee_menu_root" name="HM COFFEE" sequence="10"/>
    <!-- This Menu Item Must have a parent -->
    <menuitem id="stakeholder_menu_categ" name="Stakeholder" parent="hmcoffee_menu_root" sequence="10"/>
    <!-- This Menu Item Must have a parent -->
    <menuitem id="stok_menu_categ" name="Stok Barang" parent="hmcoffee_menu_root" sequence="15"/>
    <!-- This Menu Item Must have a parent -->
    <menuitem id="transaksi_menu_categ" name="Transaksi" parent="hmcoffee_menu_root" sequence="20"/>
    <!-- This Menu Item Must have a parent -->
    <menuitem id="laporan_menu_categ" name="Laporan" parent="hmcoffee_menu_root" sequence="25"/>
</odoo>
